<div class="bg-dark text-light p-4 d-flex justify-content-evenly col-{{ col|default(12) }}">
    <a class="btn btn-secondary text-light" href="{{ path("app_index") }}">Accueil</a>
    {% if app.user is null %}
    <a class="btn btn-secondary text-light" href="{{ path("app_login") }}">Connexion</a>
    {% else %}
    {% if app.user %}
    <a class="btn btn-secondary text-light" href="{{ path("app_home") }}">Les employés</a>
    {% endif %}
        {% if is_granted("ROLE_ADMIN") %}
            <a class="btn btn-secondary text-light" href="{{ path("app_user") }}">Admin</a>
        {% endif %}
    <a class="btn btn-secondary text-light" href="{{ path("app_logout") }}"> {{ "Déconnexion de " ~ app.user.userIdentifier }}</a>
    {% endif %}
</div>
